// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentArea{
    overflow: auto;
    height: 590px;
}

.commentsContainer {
    border: 2px solid black;
    border-radius: 10px;
    width: 95%;
}

#closeComments{
    font-size: 2em;
    margin-left: 80%;
    color: lighten(black,30%);

    &:hover {
        cursor: pointer;
    }
}

.commentInputContainer {
    position: fixed;
    z-index: 300;
    bottom: 0;
    right: 2%;
    width: 40%;
    background-color: lighten(black,30%);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    input {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        width: 80%;
        color: black;
    }
    #submitComment {
        padding: 10px;
        background-color: lighten(limegreen, 30%);
        border: 1px solid black;
        border-radius: 5px;
        color: black;

        &:hover {
            background-color: limegreen;
        }
    }
}

/////////////////////
// PARENT COMMENTS //
/////////////////////

    .castParentComment {
        width: 100%;
        background-color: lightgrey;
        border: 1px solid black;
        border-radius: 10px;
        margin: 0 0 30px;
    }


    .castCommentParentProfileContainer{
        display: inline-block;
        .castCommentParentAvatar{
            position: relative;
            background-color: white;
            z-index: 90;
            width: 75px;
            height: 75px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
        }

        .castCommentParentUser{
            position: relative;
            z-index: 100;
            background-color: white;
            margin: 0;
            margin-top: -10px;
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
        }
    }

    .castCommentParentHeader {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        text-decoration: underline;
        margin: 0;
    }


    .castCommentParentContentContainer {
        width: 72%;
        display: inline-block;
        float: right;
        font-size: 0.7em;
        margin: 0;
        padding: 10px;
        border-radius: 15px;

        .castCommentParentExpiration{
            font-size: 0.7em;
            float: right;
        }
    }

////////////////////
// CHILD COMMENTS //
////////////////////

    .castComment {
        width: 80%;
        height: 80px;
        background-color: lighten(black,30%);
        border: 1px solid black;
        border-radius: 10px;
        margin: 45px 0;
        margin-left: 35px;

        &:last-child{
            margin-bottom: 120px;
        }

        &:nth-child(2n){
            background-color: white;
            border: 1px solid lighten(black,30%);

            .castCommentChildProfileContainer{
                float: right;
                margin-right: -20px;
            }
            .castCommentChildContentContainer{
                float: left;
                color: lighten(black,30%);
                .castCommentChildContent{
                    text-align: right;
                }

                .castCommentChildDate{
                    font-size: 0.7em;
                    float: left;
                    margin-left: 20px;
                }
            }
        }
    }

    .castCommentChildProfileContainer{
        display: inline-block;
        margin-left: -20px;
        margin-top: -10px;
        .castCommentChildAvatar{
            position: relative;
            background-color: white;
            z-index: 90;
            width: 75px;
            height: 75px;
            border: 1px solid black;
            border-radius: 50%;
            padding: 10px;
        }

        .castCommentChildUser{
            position: relative;
            z-index: 100;
            background-color: white;
            margin: 0;
            margin-top: -10px;
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
        }
    }

    .castCommentChildContentContainer {
        width: 72%;
        display: inline-block;
        float: right;
        color: white;
        font-size: 0.9em;

        .castCommentChildContent{
        }

        .castCommentChildDate{
            font-size: 0.7em;
            float: right;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }


