// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentArea{
    overflow: auto;
    min-height: 150px;
    max-height: 600px;
}

.commentsContainer {
    width: 95%;
    float: left;
    margin-top: 20px;
}

#closeComments{
    position: relative;
    z-index: 100;
    font-size: 2em;
    color: lighten(red,15%);
    top: -50px;

    &:hover {
        cursor: pointer;
    }
}

.commentInputContainer {
    position: fixed;
    z-index: 300;
    bottom: 0;
    right: 2%;
    width: 40%;
    background-color: lighten(black,30%);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    input {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        width: 80%;
        color: black;
    }
    #submitComment {
        padding: 10px;
        background-color: lighten(limegreen, 30%);
        border: 1px solid black;
        border-radius: 5px;
        color: black;

        &:hover {
            background-color: limegreen;
        }
    }
}

/////////////////////
// PARENT COMMENTS //
/////////////////////


.castParentComment {
    width: 100%;
    margin-top: -20px;
    img {
        position: relative;
        z-index: 50;
        width: 100px;
        border-radius: 50%;
        border: 1px solid black;
        margin-left: 82%;
        background-color: darken(white,1%);
    }
    p {
        text-align: center;
        margin: 10px 80px;
        font-size: 0.8em;
    }
    .castCommentParentContentContainer{
        position: relative;
        margin-top: -40px;
        background-color: lighten(black,20%);
        border: 3px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;

        .castCommentParentHeader{
            font-size: 1.2em;
        }

        .castCommentParentContent{
            width: 75%;
            margin: 0 auto;
        }

        .castCommentParentUser,.castCommentParentExpiration{
            display: inline-block;
            margin: 10px;
            font-size: 0.6em;
            text-align: right;
        }
    }
}




////////////////////
// CHILD COMMENTS //
////////////////////

.castComment {
    width: 85%;
    margin: 30px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    color: lighten(black,30%);
    background-color: darken(white,1%);
    font-size: 0.7em;
    overflow: auto;

    &:nth-child(2n){
        color: darken(white,1%);
        background-color: lighten(black,30%);
        .castCommentChildContentContainer{
            float: none;
        }
        .castCommentChildProfileContainer{
            float: right;
        }
    }

    &:last-child{
        margin-bottom: 100px;
    }

    img {
        width: 75px;
        border-radius: 20%;
        border: 1px solid black;
        background-color: white;
    }
    .castCommentChildProfileContainer,.castCommentChildContentContainer{
        display: inline-block;
    }

    .castCommentChildContentContainer{
        float: right;
        width: 65%
    }

    .castCommentChildUser{
        margin: 0;
        position: relative;
        z-index: 100;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        margin-top: -20px;
        background-color: darken(white,1%);
        color: lighten(black,30%);
    }
}
