// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables

$mapHeight: 625px;
$mapWidth: 625px;
$mapTop: 140px;
$linkWedgeSize: 200px;

// Main Styles

body {
    list-style: none;
}

.nav-container {
    background-color: lighten(black,30%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-link,.right-nav-link {
    display: inline-block;
    margin: 10px;
}

.right-nav-link {
    float: right;
    color: white;
    &:hover {
        color: lighten(steelblue,20%);
    }
}

#circleHeader {
    background-color: darkgrey;
    color: black;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
    margin-top: -25px;
    padding: 10px 0;
    font-size: 0.8em;
}

#map {
    padding: 0;
    width: $mapWidth;
    height: $mapHeight;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-top: -8px;
    margin-left: 20px;
}

// Map Corner Links

#castIconLink, #groupIconLink, #subscriptionIconLink, #myLocationButton {
    position: absolute;
    z-index: 100;
    margin-top: 20px;
    margin-left: 20px;
    color: lighten(black,30%);
    font-size: 4em;
    text-decoration: none;
    &:hover {
        color: steelblue;
        text-decoration: none;
    }
}

#groupIconLink {
    margin-top: 550px;
}

#subscriptionIconLink {
    margin-left: 590px;
}

#myLocationButton {
    margin-top: 550px;
    margin-left: 590px;
    &:hover {
        cursor: pointer;
    }
}

// Sidebar Styles

.sidebarContainer {
    width: 42%;
    display: inline-block;
    float: right;
}

.groupsContainer{
    padding: 10px;
    height: 500px;
    overflow: auto;
    .groupContainer {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 100px;
        border: 2px solid lighten(black,30%);
        border-radius: 5px;
        margin: 20px;
        color: lighten(black,30%)
    }
}

.searchArea {
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 40%;
    background-color: lighten(black,30%);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    .searchHeader {
        display: inline-block;
        margin-right: 20px;
    }
    input {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        width: 45%;
        color: black;
    }

    .submitSearch {
        float: right;
        padding: 10px;
        background-color: lighten(limegreen, 30%);
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        margin-top: 5px;

        &:hover {
            background-color: limegreen;
        }
    }
}

#searchType option{
    font-size: 30px;
}

// Cast Click Animations

.castPopup {
    font-size: 0.9em;
    display: inline-block;

    p {
        display: inline-block;
        margin: 0;
    }
}

