// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables

$mapHeight: 625px;
$mapWidth: 625px;
$mapTop: 140px;
$linkWedgeSize: 200px;

// Main Styles

body {
    list-style: none;
}

.nav-container {
    background-color: darkgrey;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-link,.right-nav-link {
    display: inline-block;
    margin: 10px;
}

.right-nav-link {
    float: right;
    color: black;
    &:hover {
        color: steelblue;
    }
}

#circleHeader {
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
    margin-top: -25px;
    padding: 10px 0;
    font-size: 0.8em;
}

#map {
    padding: 0;
    width: $mapWidth;
    height: $mapHeight;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-top: -8px;
    margin-left: 20px;
}

// Map Corner Links

.linkWedgeTopLeft,.linkWedgeTopRight,.linkWedgeBottomLeft,.linkWedgeBottomRight {
    position: absolute;
    top: $mapTop;
    text-decoration: none;
    opacity: 0.7;
}

#castIconLink, #groupIconLink, #subscriptionIconLink, #myLocationButton {
    color: black;
    font-size: 4em;
    text-decoration: none;
    &:hover {
        color: steelblue;
        text-decoration: none;
    }
}

.linkWedgeTopRight{
    left: $mapWidth;
    text-align: right;
}


.linkWedgeBottomLeft {
    top: ($mapHeight)-70px;
}

.linkWedgeBottomRight {
    left: $mapWidth;
    top: ($mapHeight)-70px;
    text-align: right;
}

// Sidebar Styles

.sidebarContainer {
    width: 45%;
    display: inline-block;
    float: right;
}

.groupsContainer{
    padding: 10px;
    .groupContainer {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 5px;
        margin: 20px;
    }
}

#searchType{
    font-size: 30px;
}

